{% extends 'base_generic.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-md-center mt-4">
    <div class="col-md-3">
      <h1 class="h5">Login</h1>
    </div>
</div>

<div class="row align-items-center justify-content-center mt-4">
  <div class="col-md-3">

    {% if next %}
      {% if user.is_authenticated %}
        <p class="lead">Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p class="lead">Please login to see this page.</p>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'account_login' %}" class="form-sign">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary my-4 float-right" type="submit" value="Login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>

  </div>
</div>

{% endblock %}
