[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
Django = "*"
django-crispy-forms = "*"
django-extensions = "*"
psycopg2-binary = "*"
django-allauth = "*"
django-fernet-fields = "*"

[dev-packages]
django-debug-toolbar = "*"
selenium = "*"

[requires]
python_version = "3.8"
