{% extends 'admin/base.html' %}

{% block extrahead %}{{ block.super }}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu&display=swap');

    :root {
      --primary: #ececec;
      --secondary: #f8f9fa;
      --accent: #222;
      --primary-fg: var(--accent);
      --header-color: var(--accent);
      --breadcrumbs-fg: var(--link-fg);
      --breadcrumbs-link-fg: var(--primary-fg);
      --button-bg: var(--primary-fg);
      --default-button-bg: var(--link-fg);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --primary: #264b5d;
            --secondary: #417690;
            --breadcrumbs-link-fg: var(--body-quiet-color);
            --button-fg: var(--accent);
            --button-bg: var(--secondary);
            --default-button-bg: #ececec;
        }
    }

    body {
        font-family: Ubuntu, serif;
    }

    #site-name {
        font-family: 'Dancing Script', cursive;
    }

    #user-tools {
        text-transform: none;
    }

    #user-tools a:hover {
        color: var(--link-fg);
    }
</style>
{% endblock %}