{% extends "base_generic.html" %}

{% block title %}Configuration Items{% endblock %}

{% block content %}
<h1 class="h5 my-4">Configuration Items {{ ci_list.0.get_status_display|lower|capfirst }}</h1>

<form action="{% url 'cis:ci_pack_send' %}" method="post">
    {% csrf_token %}
    <table class="table table-bordered table-hover" id="dataTable">
        <thead>
        <tr>
            <th>Include</th>
            <th>Hostname</th>
            <th>IP</th>
            <th>Description</th>
            <th>Status</th>
            <th>Appliances</th>
        </tr>
        </thead>
        <tbody>
        {% for ci in ci_list %}
            <tr>
                <td><input type="checkbox" name="cis" value="{{ ci.pk }}" checked></td>
                <td><a href="{% url 'cis:ci_detail' ci.pk %}">{{ ci.hostname }}</a></td>
                <td>{{ ci.ip }}</td>
                <td>{{ ci.description }}</td>
                <td>{{ ci.get_status_display }}</td>
                <td>
                    <ul class="list-unstyled">
                    {% for appliance in ci.appliances.all %}
                        <li>{{ appliance.serial_number }} {{ appliance.manufacturer }} {{ appliance.model }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="submit" value="Send to Production">
</form>
{% endblock %}
