{% extends "base_generic.html" %}

{% block title %}Configuration Items{% endblock %}

{% block content %}

<div class="row justify-content-md-center mt-4">
    <div class="col-md-12">
        <h1 class="h5">Configuration Items {{ ci_list.0.get_status_display|lower|capfirst }}</h1>
    </div>
</div>

{% if ci_list %}
    <form action="{% url 'cis:ci_pack_send' %}" method="post">
    {% csrf_token %}

    <div class="row justify-content-md-center mt-4">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    {# If CIs status == 0 (created), show checkbox column #}
                    {% if '0' in request.path_info %}
                        <th><input id="js-toggler" type="checkbox" title="Deselect all" checked></th>
                    {% endif %}
                    {% if user.is_superuser %}
                        <th>Client</th>
                    {% endif %}
                    <th>Hostname</th>
                    <th>IP</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Appliances</th>
                </tr>
                </thead>
                <tbody>
                {% for ci in ci_list %}
                    <tr>
                        {% if '0' in request.path_info %}
                            <td><input class="js-items" type="checkbox" name="cis_selected" value="{{ ci.pk }}" checked></td>
                        {% endif %}
                        {% if user.is_superuser %}
                            <td>{{ ci.client.name }}</td>
                        {% endif %}
                        <td><a href="{% url 'cis:ci_detail' ci.pk %}">{{ ci.hostname }}</a></td>
                        <td>{{ ci.ip }}</td>
                        <td>{{ ci.description }}</td>
                        <td>{{ ci.get_status_display }}</td>
                        <td>
                            <ul class="list-unstyled">
                            {% for appliance in ci.appliances.all %}
                                <li>{{ appliance.serial_number }} {{ appliance.manufacturer }} {{ appliance.model }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-md-end align-items-md-center">
        {% if '0' in request.path_info %}
            <div class="col-md-auto float-left">
                <input class="btn btn-outline-primary" type="submit" value="Send selected items to production">
            </div>
        {% endif %}
        {% include 'cis/_pagination.html' %}
    </div>

    </form>
{% else %}
    <p class="lead">No configuration item was found.</p>
{% endif %}
{% endblock content %}

