{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block title %}Upload{% endblock %}

{% block content %}
    <div class="row justify-content-md-center mt-4">
        <div class="col-md-4">
            <h1 class="h5">Upload</h1>
        </div>
    </div>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-md-center mt-4">
            <div class="col-md-4">
                {{ form|crispy }}
                <input class="btn btn-primary float-right" type="submit" value="Upload">
            </div>
        </div>
    </form>

    {% if result %}
        <div class="row">
            <div class="col-md-6">
                <h2 class="h5 my-4">Summary</h2>

                <table class="table">
                    <tr>
                        <th>Quantidade de CIs inseridos</th>
                        <td>{{ result.cis_inserted }}</td>
                    </tr>
                    {% if result.errors %}
                        <tr>
                            <th>Quantidade de erros</th>
                            <td class="text-danger">{{ result.errors|length }}</td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>

        {% if result.errors %}
        <h2 class="h5 my-4">Errors Details</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Error</th>
                    <th>Row</th>
                </tr>
            </thead>
            <tbody>
                {% for error in result.errors %}
                    <tr>
                        <td>{{ error.exception }}</td>
                        <td>{{ error.row }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    {% endif %}
{% endblock %}
