<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'homepage' %}" style="font-family: 'Dancing Script', cursive;">Internalize</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if user.is_approved %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="cisDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          CIs
        </a>
        <div class="dropdown-menu" aria-labelledby="cisDropdown">
          <a class="dropdown-item" href="{% url 'cis:ci_create' %}">Add</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'cis:ci_list' 0 %}">Created</a>
          <a class="dropdown-item" href="{% url 'cis:ci_list' 1 %}">Sent</a>
          <a class="dropdown-item" href="{% url 'cis:ci_list' 2 %}">Approved</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="appliancesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Appliances
        </a>
        <div class="dropdown-menu" aria-labelledby="appliancesDropdown">
          <a class="dropdown-item" href="{% url 'cis:appliance_create' %}">Add</a>
          <a class="dropdown-item" href="{% url 'cis:appliance_list' %}">All</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="placesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Places
        </a>
        <div class="dropdown-menu" aria-labelledby="placesDropdown">
          <a class="dropdown-item" href="{% url 'cis:place_create' %}">Add</a>
          <a class="dropdown-item" href="{% url 'cis:manage_client_places' %}">All</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cis:ci_upload' %}">Upload</a>
      </li>
    </ul>
    {% endif %}

    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <span class="nav-link">{{ user }}</span>
        </li>
        {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin Area</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
        </li>
      {% else %}
      <!--
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
      </li>
      -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>